/*** CANCEL ***/
html, body, main { width: 100%; height: 100%; }
main { min-height: 100%; }
/*** END CANCEL ***/

/*** COLORS ***/
html,
.section {
	background-color: #01B53B;
}
/*** END COLORS ***/

/*** FONTS ***/
h1 { font-size: 4em; }
h2 { font-size: 1.8em; }

.footer { text-align: center; }
.footer a { text-decoration: underline; }
/*** END FONTS ***/

/*** COMPONENTS ***/
	/*** .footer ***/
	.footer { padding: 1em; }

	/*** .section ***/
	.section {
		position: fixed; top: 0; bottom: 0; left: 0; right: 0;
		width: 100%; max-width: 80%; height: auto; max-height: 80%;
		display: block; margin: auto;
	}
/*** END COMPONENTS ***/

/*** INTERACTIVITY ***/
.section { display: none; }
#chbx4details:checked ~ main .section { display: flex; }
/*** END INTERACTIVITY ***/

/*** MEDIA-QUERIES ***/
@media screen and (max-width: 60em) {
	/*** COMPONENTS: .section ***/
	.section { flex-direction: column; }
	
	.section { overflow-y: scroll; }
}
@media screen and (min-width: 60em) {
	/*** COMPONENTS: .section ***/
	.section img {
		width: auto; aspect-ratio: 4/1;
		height: 100%;
	}
}
/*** END MEDIA-QUERIES ***/

/*** SANDBOX ***/
div {
	padding: 1.8em;
}
header { width: 100%; height: 100%; }
label {
	display: inline-block;
	padding-top: 4em;
}
/*** END SANDBOX ***/