---
layout: default
---
		<input id="chbx4details" type="checkbox" name="chbx4details" checked />
		<main>
			<section>
				<header>
					<h1>PEHAA: Prevention of Educational Harms and Administrative Abuse</h1>
					<label for="chbx4details">[CLICK HERE TO READ THE DETAILS]</label>
				</header>
								
				<figure><img src="/assets/images/image.png" /></figure>
			</section>

			<aside class="aside">
				<h2>Strengthening Statutory Penalties for Academic Malpractice</h2>
				<p>Students enrolled at higher education institutions in South Africa are unable to obtain timely refunds when programs are misrepresented and altered without consent. The ambiguity in legislation causes administrative abuse whereby institutions like Richfield have normalized a world of fraudulent falsifications in official documentation. There is a need for explicit statutory penalties against such academic malpractice, particularly when such fraudulent falsifications are used to unlawfully obstruct the release of a legitimate refund. South Africa enables bad-faith misconduct and needs clear statutory deterrence, stronger civil penalties and defined legal sanctions.</p>

				<label for="chbx4details">[CLICK HERE IF YOU'VE READ]</label>
				
				<div><ul>{% for file in site.data.laws.pehaa %}
					<li>{% for data in file %}{% if forloop.first %}
							<span>"{{ data }}":</span>{% endif %}{% if forloop.last %}
							<div>
								<h1>What was the case? {{ data[1] }}</h1>
								How did it start? {{ data[0] | remove: "Detail" | remove: "=>" | remove: '"' }}
							</div>{% endif %}{% endfor %}
					</li>
					{% endfor %}
				</ul></div>
			</aside>
			
			<footer class="footer">&copy; Copyrights 2026: <a>Babylon19</a>. All rights reserved.</footer>
		</main>